*{
    margin: 0;
    padding: 0;
}
.main{
    font-family: 'comic sans ms' ;
    color: yellow;
    text-align: center;
    font-size: 25px;
    height: fit-content;
    
}


.text-Body {
    font-size: 19px;
    font-weight: 100;
    color: yellow;
  
    /*border: 2px solid red; use this to see outline*/ 
    flex-direction: column;
    float: right;
    padding-left: 50vh;
    padding-right: 50vh;
    justify-content: center;

    margin-bottom: 3vh;

}

.second-imgs {
    padding-top: 1.0px;
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin: auto;
    gap:30px
}
.input-box{
    color: red;
    text-align: center;
    margin: 15px;
    
}

.submit-bttn button{
    
    display: inline;
    background-color: rgb(58, 139, 58);
    color: white;
    border: 20px;
    font-size: 30px;
}

#signup-box{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    
    background-color: rgba(30, 82, 15, 0.766);
    border-radius: 10px;
}

footer{
    background-color: rgb(30, 82, 15);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}