*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(155, 90, 163));
    font-family: Arial, Helvetica, sans-serif;

}
/*Icons above - change names to not mix up*/
.search-bar span:hover{
    cursor: pointer;
}


.search-bar{
    height: 2.0rem;
    background-color: rgb(58, 45, 61);
    border: none;
    padding: 5px;
    border-style: none;
    color: rgb(155, 138, 159);

    font-size: 40px;
    

}

#back{
    font-size: 25px;
    text-align: start;

}

#forward{
    font-size: 25px;
    padding-left: 1.0rem;
}

#reload{
    font-size: 25px;
    padding-left: .5rem;
}

#input-bar{
    background-color: rgb(39, 33, 40);

    width: 75%;
    height: 5vh;
    margin-left: 5px;
    padding-left: 20px;

    color: white;

    border-radius: 30px;
    border-style: none;
    transition: .5s;
}

/*First Search Bar*/
#input-bar:hover{
    transition: .5s;
    cursor:auto;
    background-color: rgb(79, 66, 81);
    padding-right: 10px;
}





/*Below First Bar*/
.second-bar{
    border-style: none;
    display:flex;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(58, 45, 61);
    height: 1.5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}



#symbol{
    text-align: start;
}
#bookmark{
margin-left: auto;

}

/*All of the other elements (symbols & such) will go down here after I practice how to add*/

.main-msg{
/*I need help with this(look up how to center div??)*/
    text-align: center; 
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}
.main-msg h1{
    justify-content: center;  
    align-items: center;

    text-align: center;
    font-size: 80px;
    margin-bottom: 3%;

}

.main-msg h1:hover{
    cursor: pointer;

}


/*Second search Bar error*/




#google-lookup{
    width: 45%;
    padding: 1rem;
    padding-left: 20px;
    color: black;
    border-radius: 20px;
    border-style: none;
    background-color: white;
    transition: .6s;
}

#google-lookup:hover {
    color: rgb(255, 255, 255);
    cursor: auto;
    background-color: rgba(128, 128, 128, 0.46);
    transition: .6s;
    box-shadow: 0px 20px 50px rgba(31, 31, 31, 0.764);
}

#mode{
    background-color: rgb(230, 230, 230);
    margin-left: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 20px;

    transition: .2s;
}

#mode:hover{
    cursor: pointer;
    transition: .7s;
    background-color: rgba(154, 154, 154, 0.503);
    color: white;
}


.btns{
    margin-top:4.5vh ;
}

.btns button{
    background-color: rgb(43, 27, 43);
    color: white;


    padding: 15px;
    margin-left: 20px;
    border-style: none;
    border-radius: 4px;
    transition: .5s;

}

.btns button:hover{
    background-color: rgb(122, 72, 122);
    transition:.5s;
    cursor: pointer;
    box-shadow: 0px 10px 30px rgba(143, 94, 145, 0.764)
    

}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    justify-content: center;
}


.links {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: ce;
    gap: 10%;
    background-color: rgb(0, 0, 0);

    box-shadow: 5px 20px 450px rgba(0, 0, 0, 0.91);

    height: 5%;
    height: 20%;
    margin-top: 10%;
    
}

.link1, .link2, .link3{
    color: white;
    display: flex;
    gap:1.5rem;
    text-align: center;

    
}

.link2 p{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.link1, .link3 {
    justify-content: start;
    display: flex;
    align-items: center;

}


.link1 p:hover, .link3 p:hover{
    transition: .5s;
    cursor: pointer;
    text-decoration: underline;
    color: rgba(155, 155, 255, 0.708);

}
